<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>
      Confidence Assessments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class='ion-padding' *ngFor='let a of assessments'>
    <ion-list-header>
      <h2>
        <ion-text color='primary'>
          My Assessments
        </ion-text>
      </h2>
    </ion-list-header>
    <ion-item>
      <ion-label color='secondary'>
        {{a.assessmentName}}
        <span style='display:block;' class='smallPrimaryText'>
          created {{showPrettyDate(a.createdOn)}}
        </span>
      </ion-label>
      <ion-button (click)='takeAssessment(a.id)' fill='outline' slot="end">
        Take
      </ion-button>
    </ion-item>
  </ion-list>
  <!-- <ion-card class='ion-padding' color='light'>
      <ion-text color='secondary'>
        {{ question }}
      </ion-text>
      <hr />
      <ion-text color='medium'>
        <p>Use the knobs below to define a date range.  When you are finished, click "Next" to continue.</p>
      </ion-text>
  </ion-card>
  <ion-list>
    <ion-item>
        <ion-range (ngModel)='currentValue' color='tertiary' dualKnobs='true' pin='true' snaps='true' [min]="1950" [max]="2000" step="1" (ionChange)='onRangeChange()'>
            <ion-label slot="start"><ion-text color='tertiary'><span class='smallTertiaryText'>Lower</span></ion-text></ion-label>
            <ion-label slot="end"><ion-text color='tertiary'><span class='smallTertiaryText'>Upper</span></ion-text></ion-label>
          </ion-range>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color='primary'>
                Lower Bound:
            </ion-text>
          </ion-col>
          <ion-col>
            {{ lowerBound }}
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text color='primary'>
                    Upper Bound:
                </ion-text>
            </ion-col>
            <ion-col>
              {{ upperBound }}
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color='primary' fill="outline">
      Next
      <ion-icon slot="end" name="return-right"></ion-icon>
    </ion-button> -->
</ion-content>
