
.smallTertiaryText {
    color: var(--ion-color-tertiary);
    font-size: x-small;
}

.smallPrimaryText {
    color: var(--ion-color-primary);
    font-size: x-small;
}

:root {
    --knob-size: 4px;
}