<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>
      Super4caster
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/images/SuperForecaster-343x138.png" alt="" />
      <ion-card-header>
          <ion-card-title class='mainTitle' color='secondary'>Super4caster</ion-card-title>
          <ion-text color='tertiary'>
              <p>Intelligent, informed decision-making for you and your team.</p>
            </ion-text>
      </ion-card-header>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Your Dashboard</ion-label>
      </ion-list-header>
      <ion-item href="https://en.wikipedia.org/wiki/Superforecasting/">
        <ion-icon slot="start" color="primary" name="book"></ion-icon>
        <ion-label>Learn More...</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="secondary" name="people"></ion-icon>
        <ion-label>Confidence Assessments for your team</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="tertiary" name="analytics"></ion-icon>
        <ion-label>Results</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="hammer"></ion-icon>
        <ion-label>For Team Leads...</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
